<div class="outer-div">
    <div class="titel-bar">
        <h2>{{ flashcardSetName }}</h2>
    </div>
    <form [formGroup]="iForm">
        <div class="sep-div">
            <div class="td-sep">
                <h3>Term-Definition separator</h3>
                    <label for="td-tab">
                        <input class="rad-input" type="radio" id="td-tab" name="tdSeparator" formControlName="tdSeparator" value="\t" checked>
                        <span>Tab</span>
                    </label><br>
                    <label for="td-semicolon">
                        <input class="rad-input" type="radio" id="td-semicolon" name="tdSeparator" formControlName="tdSeparator" value=";">
                        <span>Semicolon</span>
                    </label><br>
                    <label for="td-custom">
                        <input class="rad-input" type="radio" id="td-custom" name="tdSeparator" formControlName="tdSeparator" value="td-custom">
                        <span>Custom</span>
                        <input class="custom-input" type="text" placeholder="=" name="tdCustom" formControlName="tdCustom">
                    </label>
            </div>
            <div class="c-sep">
                <h3>Card separator</h3>
                <label for="c-newline">
                    <input class="rad-input" type="radio" id="c-newline" name="cSeparator" formControlName="cSeparator" value="\n" checked>
                    <span>Newline</span>
                </label><br>
                <label for="c-semicolon">
                    <input class="rad-input" type="radio" id="c-semicolon" name="cSeparator" formControlName="cSeparator" value=";">
                    <span>Semicolon</span>
                </label><br>
                <label for="c-custom">
                    <input class="rad-input" type="radio" id="c-custom" name="cSeparator" formControlName="cSeparator" value="c-custom">
                    <span>Custom</span>
                    <input class="custom-input" type="text" placeholder="\n\n"  name="cCustom" formControlName="cCustom">
                </label>
            </div>
            <div>
                <h3>Alignment</h3>
                <label for="align-b">
                    <input class="rad-input" type="radio" id="align-b" name="align" formControlName="align" value="1" checked>
                    <span><i class="material-icons">format_align_left</i></span>
                </label><br>
                <label for="align-c">
                    <input class="rad-input" type="radio" id="align-c" name="align" formControlName="align" value="2">
                    <span><i class="material-icons">format_align_center</i></span>
                </label><br>
                <label for="align-e">
                    <input class="rad-input" type="radio" id="align-e" name="align" formControlName="align" value="3">
                    <span><i class="material-icons">format_align_right</i></span>
                </label>
            </div>
        </div>
    </form>
    <div class="txt-wrapper">
        <textarea class="txt-input" [(ngModel)]="inputText"></textarea>
    </div>
    <div class="button-bar">
        <i class="material-icons nav-icon" (click)="submit()">done</i>
        <i class="material-icons nav-icon" routerLink="/cards/{{ flashcardSetID! }}">close</i>
    </div>
</div>