<div>
    <div class="titel-bar">
        <h2>{{ flashcardSetName }}</h2>
    </div>
    <div class="permission-box">
        <div class="permission-list-box">
            <div *ngFor="let user of userPermissions" class="user-permission-box">
                <p class="username">{{ user.username }}</p>
                <div class="r-box-div">
                    <input class="r-box" type="checkbox" role="switch" name="read" [checked]="user.readPermission" (change)="changeUserReadPermissionPermission(user.username, $event)">
                    <label class="r-label" for="read">Read permission</label>
                </div>
                <div class="w-box-div">
                    <input class="w-box" type="checkbox" role="switch" name="write" [checked]="user.writePermission" (change)="changeUserWritePermissionPermission(user.username, $event)">
                    <label class="w-label" for="write">Write permission</label>
                </div>
                <div class="rm-div">
                    <i (click)="removeUserPermission(user.username)" class="material-icons">delete</i>
                </div>
            </div>
        </div>
        <div class="new-permission-box">
            <input #iUsername type="text" class="new-username uname-input" placeholder="Username">
            <div class="r-box-div">
                <input #iRead type="checkbox" role="switch" name="read">
                <label for="read">Read permission</label>
            </div>
            <div class="w-box-div">
                <input #iWrite type="checkbox" role="switch" name="write">
                <label for="write">Write permission</label>
            </div>
            <div class="add-div">
                <i (click)="addUserPermission()" class="material-icons">add</i>
            </div>
        </div>
    </div>

</div>
