@use '../../styles' as v;

.titel-bar {
    margin-left: 15px;
}

.user-permission-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: v.$dark;
    border-radius: 10px;
    padding: 10px;
    display: grid;
}

.new-permission-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: v.$dark;
    border-radius: 10px;
    padding: 10px;
    display: grid;
}

.username {
    grid-column: 1;
    width: 20%;
}

.new-username {
    grid-column: 1;
    width: 70%;
}

.r-box-div {
    display: flex;
    align-items: center;
    grid-column: 2;
}

.w-box-div {
    display: flex;
    align-items: center;
    grid-column: 3;
}

.rm-div, .add-div {
    display: flex;
    align-items: center;
    grid-column: 4;
    text-align: center;
    justify-content: flex-end;
    padding-right: 10px;
}

input[type="checkbox"] {
    color: v.$main;
    height: 20px;
}

p {
    color: v.$main;
    font-family: v.$pfont;
    font-size: large;
    margin-left: 10px;
}

label {
    font-family: v.$pfont;
    color: v.$txt;
    font-size: large;
    margin-left: 5px;
}

.uname-input {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid v.$txtcon;
  background-color: transparent;
  color: v.$main;
  font-family: v.$pfont;
  font-size: large;
  font-weight: 300;
  caret-color: v.$txt;
}

@media screen and (max-width: 1200px), (orientation: portrait) {
    .r-box-div {
        grid-column: 2;
    }
    
    .w-box-div {
        grid-column: 2;
        grid-row: 2;
    }
    .rm-div {
        grid-column: 3;
    }
}


input[role=switch] {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 1.4em;
    margin: -.2em 0;
    box-sizing: content-box;
    padding: 0;
    border: none;
    border-radius: .7em;
    background: v.$mcon1;
    transition: background-color 250ms ease, box-shadow 250ms ease;
    font-size: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    outline: none;
}
input[role=switch]::before {
  content: '';
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0;
  top: 0;
  background: v.$dark;
  border-radius: 50%;
  transform: translate(20%, 20%);
  transition: transform 250ms ease;
  color: rgba(0,0,0,0.3);
  line-height: 1;
}
input[role=switch]:focus::before {
  background: v.$dark;
}
input[role=switch]:checked {
  background-color: v.$main;
}
input[role=switch]:checked::before {
  transform: translate(120%, 20%);
}