<div class="card">
    <div class="edit-div">
        <div class="header-div">
            <input #name type="text" placeholder="Flashcard set name" value="{{ flashcardSet?.flashcardSetName }}" class="txt-input">
            <div class="delete-div" *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.owner" (click)="deleteFlashcardSet()">
                <i class="material-icons delete-icon">delete</i>
            </div>
        </div>
        <div class="list" id="edit-list">
            <div class="item" *ngFor="let in of counter(count); let i = index">
                <div>
                    <div class="card-input-div">
                        <span #tSpans class="ftextarea ftextarea-t" role="textbox" contenteditable (input)="update(i, $event, true)" (focus)="onFocusIn(i, true)" (focusout)="onFocusOut(i)" (paste)="onPaste($event)"></span>
                    </div>
                    <div class="card-input-div">
                        <span #dSpans class="ftextarea ftextarea-d" role="textbox" contenteditable (input)="update(i, $event, false)" (focus)="onFocusIn(i, false)" (focusout)="onFocusOut(i)" (paste)="onPaste($event)"></span>
                    </div>
                    <div class="div-rm" (click)="removeItem(i)">
                        <i class="material-icons rm-icon">delete</i>
                    </div>
                </div>
                <div *ngIf="focusIndex == i" class="preview-div">
                    <div class="card-preview-div">
                        <card class="text-span" [paragraph]="terms[i]"></card>
                    </div>
                    <div class="card-preview-div">
                        <card class="text-span" [paragraph]="definitions[i]"></card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-nav">
        <div class="div-nav-icon" (click)="submit()">
            <i class="material-icons nav-icon">done</i>
        </div>
        <div class="div-nav-icon">
            <i class="material-icons nav-icon" routerLink="/cards/{{ flashcardSetID! }}">close</i>
        </div>
    </div>
</div>