<div class="card pointer" style="border-radius: 10px;padding-right: 0px;width: 100%;" routerLink="/view/{{ flashcardSet.id }}">
    <div class="card-body" style="border-radius: 10px;max-width: 100%;width: 100%;">
        <div class="container" style="max-width: 100%;padding-right: 0px;">
            <div class="row" style="position: static;display: inline-flex;width: 100%;">
                <div class="col-auto col-md-6 col-xl-1 align-self-center mx-auto" style="padding: 0px 0px;display: grid;max-width: 30%;padding-right: 0px;min-width: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-collection" style="position: static;overflow: hidden;font-size: 70px;margin: auto;display: grid;">
                        <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
                    </svg><strong class="text-center" style="width: 100%;font-size: 32px;">{{ flashcardSet.numberOfFlashcards }}</strong></div>
                <div class="col-12 col-md-6 col-lg-10 col-xl-10 align-self-center mx-auto" style="position: static;display: grid;max-width: 70%;min-width: 70%;width: 70%;">
                    <h4 class="text-truncate text-break" style="font-size: 25px;font-weight: bold;">{{ flashcardSet.name }}</h4>
                    <h6 class="text-truncate text-muted mb-2" style="margin-top: -0.5em;font-style: italic;">@{{ flashcardSet.author }}</h6>
                    <p class="text-break" style="/*width: 12em;*/-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;">{{ flashcardSet.description }}</p>
                    <div style="margin-top: -10px;padding-top: 0px;">
                      <span *ngFor="let tag of flashcardSet.tags" class="badge bg-primary tag">{{ tag }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
