<div class="container">
    <div style="border-bottom-style: none;border-radius: 5px;background: var(--bs-dark);padding: 20px;">
        <div class="row" style="padding: 20px;">
            <div class="col m-auto">
                <h1 class="text-primary">{{ flashcardSet.name }}</h1>
                <p class="text-sm-start">{{ flashcardSet.description }}</p>
                <div class="text-start" style="padding-top: 0px;margin-top: 0px;padding-bottom: 10px;"><span *ngFor="let tag of flashcardSet.tags" class="badge bg-primary tag">{{ tag }}</span></div>
            </div>
            <div class="col mx-auto">
                <div class="row">
                    <div class="col">
                        <h1 class="text-primary" style="text-align: right;">{{ flashcardSet.author }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end"><span style="color: var(--bs-gray-500);font-style: italic;font-size: 20px;">@{{ flashcardSet.author }}</span></div>
                </div>
                <div class="row">
                    <div class="col text-end" style="padding-top: 20px;">
                        <div class="btn-group" role="group"><button class="btn btn-dark border-primary" type="button" style="margin-left: 20px;width: 50px;height: 50px;border-style: none;border-bottom-style: none;border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-eye-fill" style="font-size: 25px;color: var(--bs-primary);display: grid;">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                </svg></button><button class="btn btn-dark border-primary" type="button" style="margin-left: 20px;width: 50px;height: 50px;border-style: none;border-bottom-style: none;border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil-fill" style="font-size: 25px;color: var(--bs-primary);display: grid;">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                </svg></button><button class="btn btn-dark border-primary" type="button" style="margin-left: 20px;height: 50px;width: 50px;border-style: none;border-bottom-style: none;border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-share-fill" style="font-size: 25px;color: var(--bs-primary);display: grid;">
                                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"></path>
                                </svg></button><button class="btn btn-dark border-primary" type="button" style="margin-left: 20px;width: 50px;height: 50px;border-style: none;border-bottom-style: none;border-radius: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-play-fill" style="font-size: 25px;color: var(--bs-primary);display: grid;">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
                                </svg></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row app-card-carousel-wrapper" style="padding: 20px;">
        <app-card-carousel></app-card-carousel>
    </div>
    <div style="border-bottom-style: none;border-radius: 5px;background: var(--bs-dark);padding: 20px;">
        <div style="margin-left: 30px;margin-right: 30px;">
            <div class="row border-primary" style="padding: 20px;margin-bottom: 0px;padding-bottom: 0px;border-bottom-width: 1px;border-bottom-style: solid;width: 100%;margin-right: 0px;padding-right: 0px;margin-left: -5px;padding-left: 0px;">
                <div class="col align-self-center m-auto" style="padding-left: 0px;display: grid;">
                    <h1 class="text-center text-primary" style="display: grid;">Term</h1>
                </div>
                <div class="col align-self-center m-auto" style="display: grid;">
                    <h1 class="text-center text-primary" style="display: grid;">Definition</h1>
                </div>
            </div>
        </div>
        <div *ngFor="let card of flashcardSet.flashcards" class="row" style="padding: 20px;width: 100%;margin-left: -5px;">
            <div class="col">
                <card [paragraph]="card.term" [align]="card.alignment"></card>
            </div>
            <div class="col">
                <card [paragraph]="card.definition" [align]="card.alignment"></card>
            </div>
        </div>
    </div>
</div>
