<div class="outer-div">
    <div class="set-list">
        <ul>
          <li *ngFor="let set of flashcardsSets?.names let i = index">
            <span routerLink="/cards/{{ flashcardsSets!.ids[i] }}">{{ set }}</span>
            <button mat-button [matMenuTriggerFor]="menu">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="action-menu">
              <button mat-menu-item class="action-button" routerLink="/editor/{{ flashcardsSets!.ids[i] }}">
                <div class="action-div">
                  <i class="material-icons">edit</i>
                  <span class="action-text">Edit</span>
                </div>
              </button>
              <button mat-menu-item class="action-button" routerLink="/share/{{ flashcardsSets!.ids[i] }}">
                <div class="action-div">
                  <i class="material-icons">share</i>
                  <span class="action-text">Share</span>
                </div>
              </button>
              <button mat-menu-item class="action-button" routerLink="/view/{{ flashcardsSets!.ids[i] }}">
                <div class="action-div">
                  <i class="material-icons">list</i>
                  <span class="action-text">View</span>
                </div>
              </button>
            </mat-menu>
          </li>
        </ul>
    </div>
    <div class="button-bar">
        <div class="div-nav-icon">
            <div class="modal-container">
                <input id="modal-toggle" type="checkbox" (click)="toggleNewFlashcardSetDialog(false)" [checked]="dialogOpen">
                <button><i class="material-icons add-icon">add</i></button>
                <div class="modal-backdrop">
                  <div class="modal-content">
                    <label class="modal-close" for="modal-toggle"><i class="material-icons o-icon">close</i></label>
                    <h2>Create new cardset</h2>
                    <input #newName type="text" class="txt-input" placeholder="Flashcard set name">
                    <label class="modal-close button" for="modal-toggle"><i class="material-icons o-icon" (click)="createNewFlashcardSet()">east</i></label>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>