@use '../../styles' as v;

.inner {
    width: 100%;
    display: grid;
    text-align: center;
}

h1 {
    font-size: 60px;
}

button {
    color: v.$main;
    font-size: x-large;
    border: 1px solid v.$main;
    border-radius: 15px;
    padding: 5px;
}