<div class="main-div">
    <header id="nav-wrapper">
        <nav id="nav">
          <div class="nav left">
            <span class="gradient skew"><h1 class="logo un-skew"><a routerLink="" >Tex Cards</a></h1></span>
            <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
          </div>
          <div class="nav right">
            <i class="material-icons o-icon" (click)="onLogout()" routerLink="login">logout</i>
          </div>
        </nav>
      </header>
    <router-outlet></router-outlet>
</div>