@use '../styles' as v;

.main-div {
  padding: 20px;
  box-sizing:border-box;
  margin: auto;
  height: 100%;
  width: 1200px;
}

.nav-bar {
  display: flex;
  border-radius: v.$rad;
  padding: 10px;
  height: 40px;
  background-color: v.$dcon;
}

#logo-div {
  width: 50%;
}

#logo {
  cursor: pointer;
  width: fit-content;
}

#logout-div {
  width: 50%;
  text-align: right;
}

.component-div {
  border-radius: v.$rad;
  margin-top: 10px;
  height: -webkit-calc(100% - 70px);
  height:    -moz-calc(100% - 70px);
  height:         calc(100% - 70px);
  background-color: v.$dcon;
}

.scroll-div {
  overflow-y: auto;
  box-sizing:border-box;
  padding: 15px;
  height: 100%;
}


@media screen and (max-width: 1200px), (orientation: portrait) {
  .main-div {
    padding: 0;
    width: 100%;
  }

  .nav-bar {
    border-radius: 0;
  }

  .component-div {
    border-radius: 0;
  }

}