<div class="container">
    <div class="row">
        <div class="col align-self-center m-auto" style="display: flex;border-bottom-width: 1px;padding-top: 20px;">
            <h1 class="text-primary" style="color: var(--bs-dark);margin-bottom: 10px;border-bottom-width: 1px;display: block;font-size: 35px;">Recently studied</h1>
        </div>
    </div>
    <div *ngFor="let sets of recentlyStudied" class="row" style="margin-bottom: 20px;display: flex;">
        <div *ngFor="let set of sets" class="col-md-6" style="margin-top: 20px;">
            <app-flashcardset-summary [flashcardSet]="set"></app-flashcardset-summary>
        </div>
    </div>
    <app-flashcardset-summary-list [flashcardSets]="flashcardSets"></app-flashcardset-summary-list>
</div>
