<div class="container">
    <div class="row">
        <div class="col align-self-center m-auto" style="display: flex;border-bottom-width: 1px;padding-top: 20px;">
            <h1 class="text-primary" style="color: var(--bs-dark);margin-bottom: 10px;border-bottom-width: 1px;display: block;font-size: 35px;">Recently studied</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;display: flex;">
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card" style="border-radius: 10px;padding-right: 0px;width: 100%;">
                <div class="card-body" style="border-radius: 10px;max-width: 100%;width: 100%;">
                    <div class="container" style="max-width: 100%;padding-right: 0px;">
                        <div class="row" style="position: static;display: inline-flex;width: 100%;">
                            <div class="col-auto col-md-6 col-xl-1 align-self-center mx-auto" style="padding: 0px 0px;display: grid;max-width: 30%;padding-right: 0px;min-width: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-collection" style="position: static;overflow: hidden;font-size: 70px;margin: auto;display: grid;">
                                    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
                                </svg><strong class="text-center" style="width: 100%;font-size: 32px;">3</strong></div>
                            <div class="col-12 col-md-6 col-lg-10 col-xl-10 align-self-center mx-auto" style="position: static;display: grid;max-width: 70%;min-width: 70%;width: 70%;">
                                <h4 class="text-truncate text-break" style="font-size: 25px;font-weight: bold;">set-name</h4>
                                <h6 class="text-truncate text-muted mb-2" style="margin-top: -0.5em;font-style: italic;">@author</h6>
                                <p class="text-break" style="/*width: 12em;*/-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;">This is a sample set-description, here is some unnecessary text to test if it scales correctly. This is some more unnecessary text.</p>
                                <div style="margin-top: -10px;padding-top: 0px;"><span class="badge bg-primary" style="margin-right: 10px;background: var(--bs-indigo);font-size: 11px;">AnD</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">2nd semester</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">graphtheory</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card" style="border-radius: 10px;padding-right: 0px;width: 100%;">
                <div class="card-body" style="border-radius: 10px;max-width: 100%;width: 100%;">
                    <div class="container" style="max-width: 100%;padding-right: 0px;">
                        <div class="row" style="position: static;display: inline-flex;width: 100%;">
                            <div class="col-auto col-md-6 col-xl-1 align-self-center mx-auto" style="padding: 0px 0px;display: grid;max-width: 30%;padding-right: 0px;min-width: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-collection" style="position: static;overflow: hidden;font-size: 70px;margin: auto;display: grid;">
                                    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
                                </svg><strong class="text-center" style="width: 100%;font-size: 32px;">3</strong></div>
                            <div class="col-12 col-md-6 col-lg-10 col-xl-10 align-self-center mx-auto" style="position: static;display: grid;max-width: 70%;min-width: 70%;width: 70%;">
                                <h4 class="text-truncate text-break" style="font-size: 25px;font-weight: bold;">set-name</h4>
                                <h6 class="text-truncate text-muted mb-2" style="margin-top: -0.5em;font-style: italic;">@author</h6>
                                <p class="text-break" style="/*width: 12em;*/-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;">This is a sample set-description, here is some unnecessary text to test if it scales correctly. This is some more unnecessary text.</p>
                                <div style="margin-top: -10px;padding-top: 0px;"><span class="badge bg-primary" style="margin-right: 10px;background: var(--bs-indigo);font-size: 11px;">AnD</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">2nd semester</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">graphtheory</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-right: 10px;border-style: none;border-bottom-width: 1px;">
        <div class="col-auto col-xl-8 col-xxl-3 align-self-center me-auto" style="padding-bottom: 0px;min-width: 245px;max-width: 65%;width: 65%;border-style: none;border-bottom-width: 1px;">
            <h1 class="text-primary" style="color: var(--bs-dark);margin-bottom: 10px;border-bottom-width: 1px;font-size: 35px;">My Flashcards</h1>
        </div>
        <div class="col-auto col-xl-3 col-xxl-3 align-self-center ms-auto" style="border-bottom-width: 1px;position: static;display: inline-grid;width: 34%;padding-left: 0px;padding-right: 0px;margin-bottom: 5px;"><input class="form-control-lg d-xxl-flex justify-content-xxl-end" type="search" style="border-radius: 10px;width: 100%;display: grid;border: 1px solid var(--bs-gray-500) ;" placeholder="search..."></div>
    </div>
    <div class="row" style="margin-bottom: 20px;display: flex;">
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card" style="border-radius: 10px;padding-right: 0px;width: 100%;">
                <div class="card-body" style="border-radius: 10px;max-width: 100%;width: 100%;">
                    <div class="container" style="max-width: 100%;padding-right: 0px;">
                        <div class="row" style="position: static;display: inline-flex;width: 100%;">
                            <div class="col-auto col-md-6 col-xl-1 align-self-center mx-auto" style="padding: 0px 0px;display: grid;max-width: 30%;padding-right: 0px;min-width: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-collection" style="position: static;overflow: hidden;font-size: 70px;margin: auto;display: grid;">
                                    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
                                </svg><strong class="text-center" style="width: 100%;font-size: 32px;">3</strong></div>
                            <div class="col-12 col-md-6 col-lg-10 col-xl-10 align-self-center mx-auto" style="position: static;display: grid;max-width: 70%;min-width: 70%;width: 70%;">
                                <h4 class="text-truncate text-break" style="font-size: 25px;font-weight: bold;">set-name</h4>
                                <h6 class="text-truncate text-muted mb-2" style="margin-top: -0.5em;font-style: italic;">@author</h6>
                                <p class="text-break" style="/*width: 12em;*/-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;">This is a sample set-description, here is some unnecessary text to test if it scales correctly. This is some more unnecessary text.</p>
                                <div style="margin-top: -10px;padding-top: 0px;"><span class="badge bg-primary" style="margin-right: 10px;background: var(--bs-indigo);font-size: 11px;">AnD</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">2nd semester</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">graphtheory</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="margin-top: 20px;">
            <div class="card" style="border-radius: 10px;padding-right: 0px;width: 100%;">
                <div class="card-body" style="border-radius: 10px;max-width: 100%;width: 100%;">
                    <div class="container" style="max-width: 100%;padding-right: 0px;">
                        <div class="row" style="position: static;display: inline-flex;width: 100%;">
                            <div class="col-auto col-md-6 col-xl-1 align-self-center mx-auto" style="padding: 0px 0px;display: grid;max-width: 30%;padding-right: 0px;min-width: 90px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-collection" style="position: static;overflow: hidden;font-size: 70px;margin: auto;display: grid;">
                                    <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
                                </svg><strong class="text-center" style="width: 100%;font-size: 32px;">3</strong></div>
                            <div class="col-12 col-md-6 col-lg-10 col-xl-10 align-self-center mx-auto" style="position: static;display: grid;max-width: 70%;min-width: 70%;width: 70%;">
                                <h4 class="text-truncate text-break" style="font-size: 25px;font-weight: bold;">set-name</h4>
                                <h6 class="text-truncate text-muted mb-2" style="margin-top: -0.5em;font-style: italic;">@author</h6>
                                <p class="text-break" style="/*width: 12em;*/-webkit-line-clamp: 3;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;font-size: 15px;">This is a sample set-description, here is some unnecessary text to test if it scales correctly. This is some more unnecessary text.</p>
                                <div style="margin-top: -10px;padding-top: 0px;"><span class="badge bg-primary" style="margin-right: 10px;background: var(--bs-indigo);font-size: 11px;">AnD</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">2nd semester</span><span class="badge bg-primary" style="margin-right: 10px;font-size: 11px;">graphtheory</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>