<div class="d-flex align-items-center">
  <div [hidden]="showAllDone" class="container">
    <div class="app-card-carousel-wrapper my-4">
      <app-card-carousel #carousel [cards]="cardSplit" [learnMode]="cardDealer.getViewMode() == viewModeEnum.Learn" (allDone)="allDone()"></app-card-carousel>
    </div>
    <div class="bg-dark" style="border-radius: 3px;">
      <div class="justify-content-around d-flex">
        <button (click)="prev()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() == viewModeEnum.Learn" class="material-icons">chevron_left</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">thumb_down</i>
        </button>
        <button class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i class="material-icons">shuffle</i>
        </button>
        <button (click)="toggleStar()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [style.color]="hasStar()? 'yellow' : 'var(--bs-body-bg)'" class="material-icons">star</i>
        </button>
        <button (click)="toggleMode()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.View" class="material-icons">visibility</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">multiple_stop</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Star" class="material-icons">star</i>
        </button>
        <button (click)="next()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() == viewModeEnum.Learn" class="material-icons">chevron_right</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">thumb_up</i>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!showAllDone" class="container">
    <div class="row">
      <div class="col text-center">
        <h1>you have studied all cards</h1>
      </div>
    </div>
    <div class="row">
      <div [hidden]="cardDealer.getMissedCardCount() == 0" class="col">
        <button (click)="learnMissedAgain()" class="btn btn-primary">Learn the missed cards again</button>
      </div>
      <div class="col">
        <button (click)="learnAllAgain();" class="btn btn-primary">Learn all cards again</button>
      </div>
      <div class="col">
        <button (click)="returnToCards()" class="btn btn-primary">Return to the cards</button>
      </div>
    </div>
  </div>
</div>
