<div class="d-flex align-items-center">
  <div [hidden]="showAllDone" class="container">
    <div class="app-card-carousel-wrapper my-4">
      <app-card-carousel #carousel [learnMode]="cardDealer.getViewMode() == viewModeEnum.Learn" [cards]="cardSplit" (allDone)="allDone()"></app-card-carousel>
    </div>
    <div>
      <p [hidden]="cardDealer.getViewMode() == viewModeEnum.Learn" class="mb-1 fs-6 text-center">{{ (cardSplit.length > 0? (carousel.getIndex() + 1) : 0) + "/" + cardSplit.length }}</p>
      <div [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="mb-1 fs-6 text-center">
        <span class="text-warning">{{ cardDealer.getMissedCardCount() }}</span>
        <span>/{{ cardSplit.length - carousel.getIndex() }}</span>
        <span class="text-success">/{{ carousel.getIndex() - cardDealer.getMissedCardCount() }}</span>
      </div>
    </div>
    <div class="bg-dark" style="border-radius: 3px;">
      <div class="justify-content-around d-flex">
        <button (click)="prev()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() == viewModeEnum.Learn" class="material-icons">chevron_left</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">thumb_down</i>
        </button>
        <button (click)="toggleShuffle()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [style.color]="cardDealer.isShuffle()? 'var(--bs-primary)' : 'var(--bs-body-bg)'" class="material-icons">shuffle</i>
        </button>
        <button (click)="toggleStar()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [style.color]="hasStar()? 'yellow' : 'var(--bs-body-bg)'" class="material-icons">star</i>
        </button>
        <button (click)="toggleMode()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.View" class="material-icons">visibility</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">multiple_stop</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Star" class="material-icons">star</i>
        </button>
        <button (click)="next()" class="btn btn-primary d-flex align-items-center bg-transparent border-0 text-primary" type="button">
          <i [hidden]="cardDealer.getViewMode() == viewModeEnum.Learn" class="material-icons">chevron_right</i>
          <i [hidden]="cardDealer.getViewMode() != viewModeEnum.Learn" class="material-icons">thumb_up</i>
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="!showAllDone" class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">You have studied all cards</h2>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col d-flex justify-content-end">
        <app-pie-chart [percentage]="(cardSplit.length - cardDealer.getMissedCardCount()) / cardSplit.length * 100"></app-pie-chart>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center h-100 flex-column" style="row-gap: 30px;">
          <button [disabled]="cardDealer.getMissedCardCount() == 0" (click)="learnMissedAgain()" class="btn btn-primary" type="button" style="max-width: 200px;border-radius: 3px;">Keep on learning</button>
          <button (click)="learnAllAgain()" class="btn btn-primary" type="button" style="max-width: 200px;border-radius: 3px;">Review all cards</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-center">
        <button (click)="returnToCards()" class="btn btn-primary d-flex align-items-center justify-content-center" type="button" style="width: calc(15% + 200px);border-radius: 3px;"><i class="material-icons">keyboard_backspace</i> Go back to all cards</button>
      </div>
    </div>
  </div>
</div>
