// The card carousel should be placed in the middle
.app-card-carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

:host {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
