<div class="outer-div">
    <mat-tab-group animationDuration="0ms" class="tab-content">
        <mat-tab label="Flashcard sets">
            <div class="sets">
                <app-cardset-selector [flashcardsSets]="flashcardsSets"></app-cardset-selector>
            </div>
        </mat-tab>
        <mat-tab label="Your flashcard sets">
            <div class="sets">
                <app-cardset-selector [flashcardsSets]="ownFlashcardSets"></app-cardset-selector>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="button-bar">
        <div class="div-nav-icon">
            <button (click)="openCreateDialog()" ><i class="material-icons add-icon">add</i></button>
            <button (click)="openImportDialog()" ><i class="material-icons-outlined add-icon">file_download</i></button>
        </div>
    </div>
</div>
