@use '../../styles' as v;

.outer-div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

.add-icon {
    font-size: 35px;
    border: 3px solid v.$main;
    border-radius: 50%;
}

.button-bar {
    margin-top: auto;
}

button {
    text-align: end;
    flex: auto;
  }