/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

@import '~katex/dist/katex.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';


/*** VARIABLES ***/
/* Colors */
$dark: #112334;
$dcon: #182B3E;
$shad: #1b1620;
$txt: #BBBBBB;
$txtcon: rgba(255,255,255,0.2);
$main: #2EAD69;
$mcon1: #215f3e;

/* other stuff */
$rad: 15px;


/* Fonts */
$pfont: 'Roboto';

html, body {
    margin: 0;
    height: 100%;
    background-color: $dark;
}

h1 {
    font-family: $pfont;
    font-weight: 300;
    color: $main;
    margin: 0;
}

h2 {
    font-family: $pfont;
    font-weight: 300;
    color: $main;
    margin: 0;
}

i {
    cursor: pointer;
    color: $main;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
html, body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

.creation-dialog {
   width: 400px;
}

.mat-dialog-container {
    background-color: $dcon;
}

.mat-menu-panel.action-menu {
    background-color: $dark;
    min-width: 10px;
}

.mat-tab-label {
    color: $txt;
    font-family: $pfont;
    font-weight: 300;;
    font-size: large;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $main;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

.action-button {
  text-align: start;
}

.action-text {
  margin-left: 10px;
  vertical-align: super;
}

button {
    background-color: transparent;
    border: none;
}

.form {
    display: grid;
    width: 200px;
    text-align: center;
}

input:focus, *:focus {
    outline: none;
}

.txt-input {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid $txtcon;
    background-color: transparent;
    color: $main;
    font-family: $pfont;
    font-size: x-large;
    font-weight: 300;
    caret-color: $txt;
}

.outer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    color: $main;
    font-size: xx-large;
    border-radius: 50%;
    border: 3px solid $main;
    padding: 10px;
    text-align: center;
}

.nav-icon-nb {
    color: $main;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
}

.nav-icon-a {
    color: $main;
    font-size: xx-large;
    border-radius: 50%;
    border: 3px solid $main;
    padding: 10px;
    text-align: center;
}

.nav-icon-p {
    color: $mcon1;
    font-size: xx-large;
    border-radius: 50%;
    border: 3px solid $mcon1;
    padding: 10px;
    text-align: center;
}

.list {
    margin: auto;
    width: 100%;
    height: 80%;
}

.card-text img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1200px), (orientation: portrait) {
    .form {
        display: grid;
        width: 100%;
    }

    .nav-icon, .nav-icon-a, .nav-icon-p, .nav-icon-nb {
        font-size: 20px;
        border-radius: 50%;
        padding: 10px;
    }

    .creation-dialog {
        width: 100%;
    }

}
