/* You can add global styles to this file, and also import other style files */

@import '~katex/dist/katex.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css';

/*** VARIABLES ***/
/* Colors */
$dark: #112334;
$dcon: #182B3E;
$shad: #1b1620;
$txt: #BBBBBB;
$txtcon: rgba(255,255,255,0.2);
$main: #2EAD69;
$mcon1: #215f3e;

/* other stuff */
$rad: 15px;


/* Fonts */
$pfont: 'Roboto';

html, body {
    margin: 0;
    height: 100%;
    background-color: $dark;
}


@media screen and (max-width: 1200px), (orientation: portrait) {

}
