@use '../../../styles' as v;

/* popup */
.txt-input {
    margin-top: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid v.$main;
    background-color: transparent;
    color: v.$txt;
    font-family: v.$pfont;
    font-size: x-large;
    font-weight: 300;
}
input:focus{
  outline: none;
}
*:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: v.$txtcon;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: v.$txtcon;
}
h2 {
  color: v.$main;
  font-family: v.$pfont;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: xx-large;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.modal-button {
  width: 100%;
  text-align: end;
  float: right;
}

@media screen and (max-width: 1200px), (orientation: portrait) {
    h2 {
        font-size: x-large;
    }
}