<div class="card">
    <div (click)="flip()" (swipeleft)="onNext()" (swiperight)="onPrev()" class="card-text" [@cardFlip]="cardState">
        <div class="face front">
            <span *ngIf="flashcardsLoaded && flashcardSet != undefined && flashcardIndexer.getIndex() >= 0" class="text-span">
                <ng-katex-paragraph [paragraph]="flashcardSet.terms[flashcardIndexer.getIndex()]" class="k-paragraph"></ng-katex-paragraph>
            </span>
        </div>
        <div class="face back">
            <span *ngIf="flashcardsLoaded && flashcardSet != undefined && flashcardIndexer.getIndex() >= 0" class="text-span">
                <ng-katex-paragraph [paragraph]="flashcardSet.definitions[flashcardIndexer.getIndex()]" class="k-paragraph"></ng-katex-paragraph>
            </span>
        </div>
    </div>
    <div class="card-nav">
        <div class="prev div-nav-icon" *ngIf="flashcardIndexer.isShuffled()">
            <i (click)="flashcardIndexer.toggleShuffle()" class="material-icons nav-icon-a">shuffle</i>
        </div>
        <div class="prev div-nav-icon" *ngIf="!flashcardIndexer.isShuffled()">
            <i (click)="flashcardIndexer.toggleShuffle()" class="material-icons nav-icon-p">shuffle</i>
        </div>
        <div class="prev div-nav-icon">
            <i (click)="onPrev()" class="material-icons nav-icon">arrow_back_ios_new</i>
        </div>
        <div class="next div-nav-icon">
            <i (click)="onNext()" class="material-icons nav-icon">arrow_forward_ios</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.editPermission" class="prev div-nav-icon">
            <i routerLink="/editor/{{ flashcardSet.id }}" class="material-icons nav-icon">edit</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.owner" class="prev div-nav-icon">
            <i routerLink="/share/{{ flashcardSet.id }}" class="material-icons nav-icon">share</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.stars.includes(flashcardIndexer.getIndex())" class="prev div-nav-icon">
            <i (click)="toggleStar()" class="material-icons-round star-icon star-icon-a">star</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && !flashcardSet.stars.includes(flashcardIndexer.getIndex())" class="prev div-nav-icon">
            <i (click)="toggleStar()" class="material-icons-round star-icon star-icon-p">star</i>
        </div>
    </div>
</div>