<div class="card">
    <div (click)="flip()" class="card-text">
        <span class="text-span">
            <ng-katex-paragraph [paragraph]="displayTerm? terms[currentCardIndex] : definitions[currentCardIndex]"></ng-katex-paragraph>
        </span>
    </div>
    <div class="card-nav">
        <div class="prev card-nav-icon">
            <i (click)="prev()" class="material-icons nav-icon">arrow_back_ios_new</i>
        </div>
        <div class="next card-nav-icon">
            <i (click)="next()" class="material-icons nav-icon">arrow_forward_ios</i>
        </div>
    </div>
</div>