<div class="card">
    <div (click)="flip()" (swipeleft)="onNext()" (swiperight)="onPrev()" class="card-text" [@cardAnimation]="cardState" (@cardAnimation.done)="resetAnimationState()">
        <div class="face front">
            <span *ngIf="flashcardsLoaded && flashcardSet != undefined && flashcardIndexer.getIndex() >= 0" class="text-span">
                <card [paragraph]="flashcardSet.terms[flashcardIndexer.getIndex()]" [align]="flashcardSet.alignment[flashcardIndexer.getIndex()]" class="k-paragraph"></card>
                <span *ngIf="flashcardIndexer.getViewMode() != viewModeEnum.Learn" class="num">{{ flashcardIndexer.getProgress() }}</span>
                <span *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn" class="num"><span class="missed">{{ flashcardIndexer.getLearnProgress()[0] }}</span>/{{ flashcardIndexer.getLearnProgress()[1] }}/<span class="got">{{ flashcardIndexer.getLearnProgress()[2] }}</span></span>
            </span>
        </div>
        <div class="face back">
            <span *ngIf="flashcardsLoaded && flashcardSet != undefined && flashcardIndexer.getIndex() >= 0" class="text-span">
                <card [paragraph]="flashcardSet.definitions[flashcardIndexer.getIndex()]" [align]="flashcardSet.alignment[flashcardIndexer.getIndex()]" class="k-paragraph"></card>
                <span *ngIf="flashcardIndexer.getViewMode() != viewModeEnum.Learn" class="num">{{ flashcardIndexer.getProgress() }}</span>
                <span *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn" class="num"><span class="missed">{{ flashcardIndexer.getLearnProgress()[0] }}</span>/{{ flashcardIndexer.getLearnProgress()[1] }}/<span class="got">{{ flashcardIndexer.getLearnProgress()[2] }}</span></span>
            </span>
        </div>
        <div *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn && flashcardIndexer.getIndex() == -2" class="face done">
            <span class="text-span">
                <button class="learn-reset-button" (click)="learnAllAgain()">Learn all cards again</button>
                <br>
                <button *ngIf="flashcardIndexer.getMissedCount() > 0" (click)="learnMissedAgain()" class="learn-reset-button">Learn the {{ flashcardIndexer.getMissedCount() }} missed cards again</button>
            </span>
        </div>
    </div>
    <div class="card-nav">
        <div class="prev div-nav-icon" *ngIf="flashcardIndexer.isShuffled()">
            <i (click)="flashcardIndexer.toggleShuffle()" class="material-icons nav-icon-a">shuffle</i>
        </div>
        <div class="prev div-nav-icon" *ngIf="!flashcardIndexer.isShuffled()">
            <i (click)="toggleShuffle()" class="material-icons nav-icon-p">shuffle</i>
        </div>
        <div class="prev div-nav-icon">
            <i *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.View" (click)="toggleMode()" class="material-icons nav-icon">visibility</i>
            <i *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn" (click)="toggleMode()" class="material-icons nav-icon">multiple_stop</i>
            <i *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Star" (click)="toggleMode()" class="material-icons-round nav-icon">star</i>
        </div>
        <div class="prev div-nav-icon">
            <i *ngIf="flashcardIndexer.getViewMode() != viewModeEnum.Learn" (click)="onPrev()" class="material-icons nav-icon">arrow_back_ios_new</i>
            <i *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn" (click)="onNext()" class="material-icons nav-icon">thumb_down</i>
        </div>
        <div class="next div-nav-icon">
            <i *ngIf="flashcardIndexer.getViewMode() != viewModeEnum.Learn" (click)="onNext()" class="material-icons nav-icon">arrow_forward_ios</i>
            <i *ngIf="flashcardIndexer.getViewMode() == viewModeEnum.Learn" (click)="onPrev()" class="material-icons nav-icon">thumb_up</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.stars.includes(flashcardIndexer.getIndex())" class="prev div-nav-icon">
            <i (click)="toggleStar()" class="material-icons-round star-icon star-icon-a">star</i>
        </div>
        <div *ngIf="flashcardSet != undefined && flashcardSet != null && !flashcardSet.stars.includes(flashcardIndexer.getIndex())" class="prev div-nav-icon">
            <i (click)="toggleStar()" class="material-icons-round star-icon star-icon-p">star</i>
        </div>
        <div class="next div-nav-icon">
            <button mat-button [matMenuTriggerFor]="menu">
                <i class="material-icons nav-icon-nb">more_vert</i>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" class="action-menu">
                <button *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.editPermission" mat-menu-item class="action-button" routerLink="/editor/{{ flashcardSetID }}">
                  <div class="action-div">
                    <i class="material-icons">edit</i>
                    <span class="action-text">Edit</span>
                  </div>
                </button>
                <button *ngIf="flashcardSet != undefined && flashcardSet != null && flashcardSet.owner" mat-menu-item class="action-button" routerLink="/share/{{ flashcardSetID }}">
                  <div class="action-div">
                    <i class="material-icons">share</i>
                    <span class="action-text">Share</span>
                  </div>
                </button>
                <button mat-menu-item class="action-button" routerLink="/view/{{ flashcardSetID }}">
                  <div class="action-div">
                    <i class="material-icons">list</i>
                    <span class="action-text">View</span>
                  </div>
                </button>
              </mat-menu>
        </div>
    </div>
</div>