@use '../../styles' as v;

h3 {
  font-family: v.$pfont;
  font-weight: 300;
  color: red;
}

button {
    color: v.$main;
    background-color: v.$dark;
    border: none;
    font-size: x-large;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}